
body {
	font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
}

#header {
	margin: 0 auto;
	width: 100%;
	height: 92px;
	position: relative;
	display: block;
	background-color: #006600;
}

#header h1 {
	color: #ccff99;
}

#leftNav {
	float: left;
	width: 150px;
	background-color: #ccffcc;
}

#content {
	margin-left: 170px;
}

ul.menu li {
	list-style: none;
	font-size: 10pt;
}

ul.feed li {
	padding-top:10px;
	padding-bottom:10px;
	list-style: none;
	border-top: 1px dotted lightgrey;
}

ul.feed li:first-child {
	border-top: none;
}

ul.friends li {
	padding-top:5px;
	padding-bottom:5px;
	list-style:none;