<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Twitter Secretary</title>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Twitter Secretary</a></h1>
		</div>
		
		<div id="content" layout:fragment="content">
	      <div class="jumbotron">
	      	<img th:src="@{/project-icon-large.png}" style="float:right;opacity:0.15;"/>

	      	<div class="project-title">
	      	Bogazici University Final Project
	      	</div>
	      	
	        <h1>Twitter Secretary</h1>
	        <p>
	          If you can't keep up with your followers and timeline, worry no more!
	        </p>
	        <p>
	          <a class="btn btn-lg btn-primary" href="http://projects.spring.io/spring-social/" role="button">About Twitter Secretary &raquo;</a>
	        </p>
	      </div>
		</div>		
	</body>
</html>
