<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>Spring Social Showcase (Implicit Sign-In)</title>
		<link rel="stylesheet" th:href="@{/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase (Implicit Sign-In)</a></h1>
		</div>
		
		<div id="leftNav">
			<h4><a th:href="@{/connect}">Connections</a></h4>
			
			<h4><a th:href="@{/facebook}">Facebook</a></h4>
			<div social:connected="facebook">
			<ul class="menu">
				<li><a th:href="@{/facebook}">User Profile</a></li>
				<li><a th:href="@{/facebook/feed}">Feed</a></li>
				<li><a th:href="@{/facebook/albums}">Albums</a></li>
			</ul>
			</div>
		</div>
		
		<div id="content" layout:fragment="content">
			Content goes here
		</div>		
	</body>
</html>
