
body {
	font-family: "lucida grande", lucida, tahoma, helvetica, arial, sans-serif !important;
}

#header {
	margin: 0 auto;
	width: 100%;
	height: 92px;
	position: relative;
	display: block;
	background-color: #006600;
}

#header h1 a {
	color: #ccff99;
	text-decoration: none;
}

#leftNav {
	float: left;
	width: 150px;
	background-color: #ccffcc;
}

#content {
	margin-left: 170px;
}

a {
	color: #006600;
}

ul.menu li {
	list-style: none;
	font-size: 10pt;
}

div.feed {
	width: 600px;
}

ul.imagedList li {
	padding-top:10px;
	padding-bottom:10px;
	list-style: none;
	border-top: 1px dotted lightgrey;
}

ul.imagedlist li:first-child {
	border-top: none;
}

li.imagedItem div.image {
	float: left;
}

li.imagedItem div.content {
	font-size: 11pt;
	margin-left: 70px;
}

li.imagedItem div.content a {
	text-decoration: none;
}

li.imagedItem div.content a:hover {
	text-decoration: underline;
}

span.postTime {
	font-size: 8pt;
	color: #999999;
}

span.dmRecipient {
	font-size: 8pt;
	color: #999999;
}

ul.friends li {
	padding-top:5px;
	padding-bottom:5px;
	list-style:none;
}

ul.timelineChoices {
	padding: 0px;
	margin: 0px;
}

ul.choices li {
	list-style:none;
	display:inline;
	font-size:10pt;
	padding-left: 5px;
	border-left: 1px solid #000;
}

ul.choices li:first-child {
	padding-left: 0px;
	border-left: none;
}

div.accountConnection {
	margin: 10px;
	width: 600px;
	background-color: #ffffff;
	border: 1px solid #006600;
}

div.accountConnection h4 {
	margin-top: 0;
	background-color: #efefef;
}

div.accountConnection h4 img {
	vertical-align: middle;
}
